.motoBg{
  
  background-color: #f7f9fc;
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0 100%);
}




.motoLine {
  /* fontWeight: "100", color: "#51c2d5", textTransform: "uppercase", fontFamily: "'Trirong', serif"; */
  color: #a4a4a4;
  text-transform: uppercase;
  font-family: 'Atma', cursive;
  font-weight: 200;
  letter-spacing: 10px;
  font-size: 55px;
  transition: 0.5s;
}
.motoLineBangla{
  color: #a4a4a4;
  font-family: 'Atma', cursive;
  font-weight: 200;
  letter-spacing: 7px;
  font-size: 65px;
  transition: 0.5s;
}

.motoLine:hover {
  letter-spacing: 15px;
}

.motoLineBangla:hover{
  letter-spacing: 15px;
}

.anImg{
  position: relative;
  animation-name: upDown;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  
}

@keyframes upDown{

  0%   {top:0px;}
  /* 25%  {top:5px;} */
  50%  {top:15px;}
  /* 75%  {top:15px;} */
  100% {top:0px;}

}

.motoDes{
  font-family: 'Atma', cursive;
  color: #aaa;
  letter-spacing: 1px;
  font-size: 27px;
  font-weight: lighter;

  
}
.motoDesTwo{
  font-family: 'Rubik', sans-serif;
  color: #aaa;
  letter-spacing: 1px;
  font-size: 17px;
  font-weight: lighter;
  
}

.joinBtn {
  width: 120px;
  height: 40px;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(116, 156, 241) 0%,
    rgba(77, 83, 198, 1) 51%,
    rgb(60, 92, 199) 100%,
    rgba(9, 9, 121, 1) 100%
  );
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  
}

.joinBtn h5 {
  font-size: 15px;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 1px;
  transition: 0.5s;
  font-family: "Trirong", serif;
  font-weight: 300;
}

.joinBtn:hover h5 {
  letter-spacing: 3px;
}
